<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>{% if page.title %}{{ page.title }} | Xmartlabs{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 320 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="brA46-3dt1V2vS2c3XdJ2tlJ_3PT-De_fNp_TZMEU-Q" />
  <link rel="stylesheet" href="{{ "/css/main.css?id=123456789" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/xl4.webflow.0b1398f65.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <meta name="Copyright" content="&copy; 2021 Xmartlabs" />
  <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}" />
  <!-- Google Tag Manager -->
  {% include GTM_head.html %}
  <!-- End Google Tag Manager -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</head>
