<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} | Xmartlabs Blog{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 320 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ page.tags | join: ', '  }}">
  <!-- Social Images -->
  <!-- Ratio 2:1 -->
  {% if page.twitter_image %}
    <meta name="twitter:image" content="{{ site.url_blog }}{{ page.twitter_image }}">
  {% elsif page.social_image %}
    <meta name="twitter:image" content="{{ site.url_blog }}{{ page.social_image }}">
  {% elsif page.featured_image %}
    <meta name="twitter:image" content="{{ site.url_blog }}{{ page.featured_image }}">
  {% endif %}

  <!-- 1200 pixels x 627 pixels -->
  {% if page.social_image %}
    <meta name="image" property="og:image" content="{{ site.url_blog }}{{ page.social_image }}">
  {% elsif page.featured_image %}
    <meta name="image" property="og:image" content="{{ site.url_blog }}{{ page.featured_image }}">
  {% endif %}

  {% if page.author_id %}
  <meta name="author" content="{{ site.data.authors[page.author_id].display_name }}">
  {% endif %}
  <meta property="og:title" content="{{ page.title }} | Xmartlabs Blog" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 320 }}{% else %}{{ site.description }} | Xmartlabs Blog{% endif %}">
  <meta property="og:type" content="article">
  <meta property="og:updated_time" content="{{ page.date }}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url_blog }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@xmartlabs">
  <meta name="twitter:title" content="{{ page.title }} | Xmartlabs Blog">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 320 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css?id=12345678" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/xl4.webflow.0b1398f65.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url_blog }}">
  <meta name="Copyright" content="&copy; 2021 Xmartlabs" />
  <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}" />
  {% include GTM_head.html %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1015680a3007c259370b6f4e9/d1d99830b33d13826f947dbb1.js");</script>
  {% if page.permalink == "/blog/machine-learning-super-resolution-algorithms/" %}
  <script src="/twentytwenty/js/jquery.event.move.js"></script>
  <script src="/twentytwenty/js/jquery.twentytwenty.js"></script>
  <link rel="stylesheet" href="/twentytwenty/css/twentytwenty.css" type="text/css" media="screen" />
  <script>
    $(window).on('load', function(){
      $(".twentytwenty-container").twentytwenty();
    });
  </script>
  {% endif %}
</head>
